# Environment variables
.env*
.env.*
# Data and analysis files
fitbit_analyse.py
Final_Stress_Study_HeartRate_Data.csv
fitbit_manuel.py

# Python specific
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
